.header-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
}

.left .logo {
  font-size: 25px;
  font-weight: 600;
  color: brown;
  margin-left: 2em;
}
.right .user img {
  width: 30px;
  height: 30px;
  margin-right: 2em;
}
